# MongoDB connection URI as set in police-cad .env
dbo=knoldus
mongoURI=mongodb://localhost/knoldus

# Discord Bot Token
token=

# Lines Police CAD API
API_URL=https://backend.yourdomain.com
API_TOKEN=